.logContainer {
  width: 200px;
  padding: 20px;
  background-color: var(--board-bg);
  border-radius: 10px;
  margin-left: 20px;
  overflow-y: auto;
  height: 400px;
}

.logContainer h2 {
  margin-top: 0;
  text-align: center;
  color: var(--text-color);
}

.logList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logList li {
  padding: 5px;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .logContainer {
    width: 90%;
    margin-left: 0;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
  }
}